$nav-background: #c5d1e2;
$main-background: #edeff2;
$secondary_light_color: #c5d1e2;
$secondary_dark_color: #82b3c9;
$text-color: #586882;

nav {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: #c5d1e2;
  padding-bottom: 10px;
}

.selected {
  background-color: #d5deef;
  border-radius: 80px;
}

.logo {
  margin-top: 20px;
  margin-left: 100px;
  text-decoration: none;
  color: #edeff2;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
}

.content {
  background-color: $main-background;
  border-radius: 80px;
  margin-top: 80px;
  margin-right: 20px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);


  ul {
    list-style: none;
    margin: 0; padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto;

    li {

      .element {
        display: block;
        color: #a0aaba;
        text-align: center;
        padding: 14px 16px;

        &:hover {
          background-color: #d5deef;
          border-radius: 80px;
          cursor: pointer;
        }
      }

      a {
        display: block;
        color: #a0aaba;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover {
          background-color: #d5deef;
          border-radius: 80px;
          cursor: pointer;
        }
      }
    }
  }

  .searchPanel {
    position: absolute;
    border-radius: 8px;
    padding: 10px;
    background-color: $main-background;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

    .formContent {

      #cardLabel {
        display: block;
        margin: 0 auto;
        font-weight: bold;
        text-align: center;
      }

      .fieldGroup {
        list-style-type: none;
        padding-left: 30px;
        margin: 0;

        li {
          display: grid;
          grid-template-columns: 120px auto 100px;
          margin-top: 30px;
        }
      }

      .cta {
        background: $secondary_light_color;
        border: none;
        color: white;
        display: block;

        text-transform: uppercase;
        border-radius: 4px;
        padding: 1em;
        cursor: pointer;
        font-family: 'Montserrat';

        &:hover {
          color: white;
          background: $text-color;
        }
      }
    }
  }
}
