<nav>
  <div class="left">
      <a class="logo" routerLink='/welcome'>{{ appTitle }}</a>
  </div>
  <div class="content">
    <ul>
      <li><div class="element" (click)="findUserBtnClicked()">Find User</div></li>
      <li><a routerLink="/" (click)="searchPanelVisible = false" [class.selected]="currentUrl == '/'">Home</a></li>
      <li><div class="element" (click)="goToProfile()" [class.selected]="currentUrl == '/profile'">Profile</div></li>
      <li><a routerLink="login" (click)="searchPanelVisible = false" [class.selected]="currentUrl == '/login'">Sign In</a></li>
      <li><a routerLink="signup" (click)="searchPanelVisible = false" [class.selected]="currentUrl == '/signup'">Sign Up</a></li>
    </ul>
    <div class="searchPanel" [class.invisible]="!searchPanelVisible">
      <div class="formContent">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <ul class="fieldGroup">
            <li>
              <div class="fieldKey">Username:</div>
              <div class="fieldValue">
                <input type="text" class="form-control" [class.is-invalid]="searchForm.get('username').invalid"
                       formControlName="username" required/>
              </div>
              <input type="submit" value="Search" class="cta">
            </li>
          </ul>
          <div style="color: darkred" [class.invisible]="!noSuchUser">No such user</div>
        </form>
      </div>
    </div>
  </div>
</nav>
