<div class="main">
  <div class="card">
    <div class="formContent">
      <h1 id="cardLabel">Sign Up</h1>

      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

        <h5 *ngIf="success">Your form is valid!</h5>

        <ul class="fieldGroup">
          <li>
            <div class="fieldKey">First Name:</div>
            <div class="fieldValue">
              <input type="text" class="form-control" [class.is-invalid]="registrationForm.get('firstName').invalid"
                     formControlName="firstName"/>
            </div>
          </li>

          <li>
            <div class="fieldKey">Last Name:</div>
            <div class="fieldValue">
              <input type="text" class="form-control" formControlName="lastName"/>
            </div>
          </li>

          <li>
            <div class="fieldKey">Username:</div>
            <div class="fieldValue">
              <input type="text" class="form-control" [class.is-invalid]="registrationForm.get('username').invalid"
                     formControlName="username" required/>
            </div>
          </li>

          <li>
            <div class="fieldKey">Password:</div>
            <div class="fieldValue">
              <input type="password" class="form-control" [class.is-invalid]="registrationForm.get('password').invalid"
                     formControlName="password"/>
            </div>
          </li>
        </ul>

        <input type="submit" value="Sign Up" class="cta">

      </form>
    </div>
  </div>
</div>
