<div class="main">
  <div class="top_container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="space-between none"
       fxLayoutGap="10px">
    <div class="card_no_underline">
      <div class="avatar" [ngStyle]="{ 'background-image': 'url(' + currentUser.avatar + ')'}">

      </div>
    </div>
    <div class="user-info card_no_underline"
         fxFlex>
      <div fxLayout="column"
           fxLayoutAlign="start start">
        <div class="user-name">{{currentUser.firstName}} {{currentUser.lastName}}</div>
        <div *ngIf="isFollowed(currentUser.login)">
          <div class="btn-pressed" (click)="unfollow(currentUser.id)">
            Subscribe
          </div>
        </div>
        <div *ngIf="!isFollowed(currentUser.login)">
          <div class="btn" (click)="follow(currentUser.id)">
            Subscribe
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <div class="center-container"
         fxLayout="column"
         fxLayoutAlign="space-around none">
      <div class="formContent">
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
          <ul class="fieldGroup">
            <li>
              <div class="fieldKey">New Message:</div>
              <div class="fieldValue">
                <textarea type="text" class="form-control" [class.is-invalid]="messageForm.get('content').invalid"
                          formControlName="content" required></textarea>
              </div>
              <input type="submit" value="Post" class="cta">
            </li>
          </ul>
        </form>
      </div>
      <div class="messages">
        <div *ngFor="let message of messages">
          <div class="message card_no_underline">
            <div fxFlex="row">
              <div fxFlex="10" class="message-author" (click)="navigateToUser(message.userId)">{{message.user}}</div>
              <div fxFlex="90">{{message.text}}</div>
              <div fxFlex="10">
                <div class="interactive-panel"
                     fxFlex="row"
                     fxLayoutGap="10px">
                  <div *ngIf="message.liked">
                    <div class="btn-pressed" fxFlex="60" (click)="likeBtnPressed(message.id, message.liked)">Like</div>
                  </div>
                  <div *ngIf="!message.liked">
                    <div class="btn" fxFlex="60" (click)="likeBtnPressed(message.id, message.liked)">Like</div>
                  </div>
                  <div fxFlex="10">{{message.likes}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
