$card-background: #edeff2;
$text-color: #586882;
$secondary_light_color: #c5d1e2;
$secondary_dark_color: #82b3c9;

.main {
  width: 1000px;
  margin: auto;
}

.avatar {
  width: 200px;
  height: 300px;
  background-size: cover;
  border-radius: 3px;
}

.user-info {
  padding: 30px;
  color: $text-color;

  .user-name {
    font-weight: bold;
    font-size: 30px;
    color: $text-color;
  }
}

.messages {
  padding-top: 10px;

  .message {
    padding: 20px;

    .message-author {
      font-weight: bold;
    }
  }
}

.interactive-panel {
  height: 30px;
}

.btn {
  width: 80px;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;

  &:hover {
    cursor: pointer;
    background-color: #c5d1e2;
  }
}

.btn-pressed {
  width: 80px;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  background-color: #c5d1e2;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;

  &:hover {
    cursor: pointer;
  }
}

.fieldGroup {
  list-style-type: none;
  padding-left: 30px;
  margin: 0;

  li {
    display: grid;
    grid-template-columns: 120px auto 100px;
    margin-top: 30px;
  }
}

.message-author {
  &:hover {
    cursor: pointer;
  }
}

.cta {
  background: $secondary_dark_color;
  border: none;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;

  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
  font-family: 'Montserrat';

  &:hover {
    color: white;
    background: $text-color;
  }
}
