$card_color: #fffffb;
$white: #F2F2F2;
$secondary_light_color: #c5d1e2;
$secondary_dark_color: #82b3c9;
$text_color: #62757f;
$light-dark: #707070;
$text-color: #586882;

.content {
  width: 1000px;
  margin: auto;
}

.card {
  width: 500px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $card_color;
  margin-bottom: 10px;
  border-radius: 3px;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #828282;

  .formContent {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);

    #cardLabel {
      display: block;
      margin: 0 auto;
      font-weight: bold;
      text-align: center;
    }

    .fieldGroup {
      list-style-type: none;
      padding-left: 30px;
      margin: 0;

      li {
        display: grid;
        grid-template-columns: 120px auto;
        margin-top: 30px;
      }
    }

    .cta {
      background: $secondary_light_color;
      border: none;
      color: white;
      display: block;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;

      text-transform: uppercase;
      border-radius: 4px;
      padding: 1em;
      cursor: pointer;
      font-family: 'Montserrat';

      &:hover {
        color: white;
        background: $text-color;
      }
    }
  }

  &:hover {
    -webkit-box-shadow: 0px 0px 42px 2px rgba(158, 158, 158, 0.2);
    -moz-box-shadow: 0px 0px 42px 2px rgba(158, 158, 158, 0.2);
    box-shadow: 0px 0px 42px 2px rgba(158, 158, 158, 0.2);
  }
}
