$text-color: #586882;

.label-list {
  font-weight: bold;
  font-size: 30px;
  color: $text-color;
}

.content {
  width: 1000px;
  margin: auto;
}

.message {
  padding: 20px;
  .message-author {
    font-weight: bold;
  }
}

.interactive-panel {
  height: 30px;
}

.btn {
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;

  &:hover {
    cursor: pointer;
    background-color: #c5d1e2;
  }
}
