<div class="content">
  <div class="label-list">Subscribed list:</div>
  <div *ngFor="let message of messages">
    <div class="message card_no_underline">
      <div fxFlex="row">
        <div fxFlex="10" class="message-author" (click)="navigateToUser(message.user)">{{message.user}}</div>
        <div fxFlex="90">{{message.text}}</div>
        <div fxFlex="10">
          <div class="interactive-panel"
               fxFlex="row"
               fxLayoutGap="10px">
            <div class="btn" fxFlex="60">Like</div>
            <div fxFlex="40">{{message.likes}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
