@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "~bootstrap/dist/css/bootstrap.css";

$main-background: #edeff2;
$card_color: #fffffb;

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.invisible {
  display: none;
}

.card {
  background-color: $card_color;
  margin-bottom: 10px;
  border-radius: 3px;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #828282;
}

.card_no_underline {
  background-color: $card_color;
  margin-bottom: 10px;
  border-radius: 3px;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
}

.main-component {
  background-color: $main-background;
}

.component {
  margin: 10px;
}
